@import "../../styles/media";

.graph_wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p{
    color: gray;
  }
  .info_wrapper{
    display: flex;
    justify-content: space-between;
    @include mobile{
      flex-direction: column;
      gap: 2rem;
    }
  }
}