/* From Uiverse.io by Yaya12085 */ 
.radio {
  flex: 1 1 auto;
  text-align: center;
  input {
    display: none;
    &:checked + .name {
      background-color: #fff;
      font-weight: 600;
    }
  }
  .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
}